@font-face {
  font-family: Ubuntu;
  src: url("fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Ubuntu;
  src: url("fonts/Ubuntu-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Ubuntu;
  src: url("fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: Ubuntu;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
h2 {
  font-family: Ubuntu;
  font-size: 1.4em;
  font-weight: 500;
}
.panel {
  width: 100%;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation {
  position: fixed;
  background: #106ebe;
  width: 100%;
  padding: 15px 0;
  z-index: 100;
}
.logo {
  float: left;
}
.logo a {
  color: #fff;
}
.menu {
  float: right;
  position: relative;
}
.menu_nav {
  display: block;
}
.menu_nav ul {
  margin-right: -15px;
}
.menu_nav li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.menu_nav a {
  padding: 23px 10px;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.menu_nav a:hover {
  background: #276aa0;
}
.container:after,
.clear,
.row:after,
.contacts:after {
  content: "";
  clear: both;
  display: table;
}
.footer {
  background: #fff;
  padding: 50px;
}
.logo-footer {
  float: left;
}
.logo-footer a {
  color: #106ebe;
}
.footer-right {
  float: right;
  color: #106ebe;
}
.main {
  background: #f4f4f4;
  padding: 100px 0 50px;
}
.hero {
  text-align: center;
  border-radius: 5px;
  padding: 100px 0 10px;
  background: url("images/hero-image.jpg");
  background-size: cover;
  margin-bottom: 30px;
}
.hero h2 {
  padding: 20px;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  background: rgba(0,0,0,0.7);
  margin-bottom: 10px;
}
.hero span {
  color: #ee3957;
}
.hero p {
  padding: 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.block-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 20px;
}
.block-content {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  padding: 20px;
}
.highlighted span {
  color: #ee3957;
}
.portfolio,
.technologies {
  margin-bottom: 30px;
}
.works {
  padding: 30px 50px;
  margin: 0 auto;
}
.work {
  float: left;
  width: 33.333333%;
  padding: 20px 15px;
}
.work img {
  width: 100%;
  border: none;
}
.work a {
  display: block;
  outline: none;
}
.work a:hover {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.work p {
  color: #106ebe;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
}
.contacts {
  padding: 30px 0 30px;
}
.media {
  float: left;
  width: 33.333333%;
  padding-left: 50px;
}
.media-icon {
  float: left;
  padding-right: 20px;
}
.media-content {
  font-size: 1.1em;
}
.media-content .title {
  text-transorm: uppercase;
}
.media-content a {
  line-height: 1.4em;
  color: #000;
  font-weight: 300;
}
.media-content a:hover {
  color: #106ebe;
}
.icon {
  color: #fff;
  background: #106ebe;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 1.2em;
}
.tech-block {
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 20px;
  height: 250px;
}
.tech-block h3 {
  padding: 20px 0 10px;
  font-weight: 400;
}
.tech-block p {
  line-height: 1.5em;
}
.tech-block:hover>div>i {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.row {
  padding: 0 30px;
}
.tech-icon {
  color: #106ebe;
  font-size: 4em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-firefox,
.fa-html5 {
  color: #ee3957;
  position: absolute;
  left: 20%;
  z-index: 2;
}
.fa-chrome,
.fa-css3 {
  margin-right: -30px;
}
.group {
  margin: 0 auto;
  width: 150px;
  position: relative;
}
.menu_button {
  display: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  line-height: 30px;
  position: fixed;
  top: 8px;
  right: 10px;
  z-index: 999;
  text-align: center;
}
.menu_button span {
  display: inline-block;
  width: 25px;
  height: 3px;
  background: #fff;
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.menu_button span:before {
  content: "";
  top: -8px;
  position: absolute;
  background: inherit;
  width: 25px;
  height: 3px;
  left: 0;
  border-radius: 2px;
}
.menu_button span:after {
  content: "";
  top: 8px;
  position: absolute;
  background: inherit;
  width: 25px;
  height: 3px;
  left: 0;
  border-radius: 2px;
}
.menu_state_open .menu_nav {
  display: block;
}
.menu_state_open .menu_button span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_state_open .menu_button span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
.menu_state_open .menu_button span:after {
  display: none;
}
@media screen and (max-width: 1000px) {
  .tech-block {
    width: 50%;
  }
  .media {
    padding-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .media {
    padding-left: 0;
    width: 50%;
    padding-bottom: 20px;
  }
  .menu_nav {
    display: none;
    position: fixed;
    right: 0;
    margin-top: 40px;
    background: #106ebe;
    width: 100%;
    text-align: center;
    padding: 20px 0 30px;
  }
  .menu_nav ul {
    margin-right: 0;
  }
  .menu_nav li {
    float: none;
  }
  .menu_nav a {
    display: block;
    padding: 10px;
  }
  .menu_nav a:hover {
    background: none;
    color: #000;
  }
  .menu_button {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .tech-block,
  .media {
    float: none;
    width: 100%;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-right {
    float: none;
    width: 100%;
  }
  .logo-footer {
    float: none;
    margin-bottom: 10px;
  }
  .block-content {
    padding: 20px 15px;
  }
  .row {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .works {
    padding: 30px 0;
  }
}
@media screen and (min-width: 900px) {
  .menu_nav {
    display: block !important;
  }
}
