@font-face {
  font-family: Gotham;
  src: url("fonts/GothaProReg.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url("fonts/GothaProLig.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url("fonts/GothaProBol.otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: Gotham;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  background-color: #c2c2c2;
}
.header {
  background: url("images/1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}
.left {
  float: left;
}
.right {
  float: right;
}
.box {
  border-bottom: 1px solid rgba(255,255,255,0.6);
  padding-top: 20px;
  padding-bottom: 10px;
}
.logo {
  background-color: #11749e;
  float: left;
  color: #fff;
  height: 66px;
  width: 66px;
  box-shadow: 10px 10px 0 #b9b9b9;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}
.menu_outer {
  float: right;
  padding-top: 30px;
}
.menu,
.socials,
.menu li,
.socials li {
  display: inline-block;
}
.menu li {
  padding-bottom: 30px;
}
.menu li:hover {
  border-bottom: 5px solid #11749e;
}
.menu a {
  color: #f5f5f5;
  font-weight: 300;
  padding: 10px;
}
.box:after {
  clear: both;
  content: "";
  display: table;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.socials a {
  color: #f5f5f5;
  padding: 10px;
}
.socials a:hover {
  color: #11749e;
}
.menu {
  margin-right: 20px;
}
.socials li {
  margin-left: 5px;
}
.hero {
  text-align: center;
  color: #fff;
  padding-top: 270px;
  padding-bottom: 340px;
}
.hero h1 {
  font-size: 10em;
  font-weight: 700;
  letter-spacing: -0.03em;
}
.hero p {
  font-size: 1.6em;
  letter-spacing: 0.8em;
  color: #11749e;
  font-weight: 700;
}
.about {
  height: 740px;
  background-color: #11749e;
  padding-top: 60px;
  color: #fff;
}
.heading {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -160px;
  margin-bottom: 100px;
}
.bigletter {
  font-size: 16em;
  opacity: 0.3;
  font-weight: 700;
}
.header:after,
.about:after,
.news:after,
.clear,
.container:after {
  content: "";
  clear: both;
  display: table;
}
.mid {
  text-align: center;
}
.circle {
  background-color: #2e85aa;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding: 48px 52px;
}
.circle:hover {
  background-color: #266d8c;
}
.feature {
  width: 25%;
  float: left;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.feature h3 {
  padding: 20px 0;
}
.feature p {
  padding-top: 10px;
}
.features {
  padding-top: 60px;
}
.news {
  background-color: #f3f3f3;
}
.news>div:first-child {
  background-color: #222;
  color: #fff;
}
.row {
  float: left;
  height: 445px;
}
.newsblock {
  float: left;
  width: 50%;
  height: 100%;
}
.imgnews1 {
  background: url("images/agencynews1.jpg") no-repeat;
}
.imgnews2 {
  background: url("images/agencynews2.jpg") no-repeat;
}
.imgnews2,
.imgnews1 {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.blogs {
  padding-bottom: 30px;
  background-color: #fff;
  color: #222;
}
.blog {
  float: left;
  width: 25%;
  padding-left: 30px;
}
.blog h3 {
  text-transform: uppercase;
  color: #11749e;
}
.blog .blog_img {
  overflow: hidden;
  height: 270px;
}
.blog h3 {
  padding: 30px 0 20px 0;
}
.blog p {
  line-height: 1.5em;
}
.inner_blog:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.blog_p {
  font-size: 30px;
  padding-bottom: 50px;
}
.quickaction {
  background-color: #11749e;
  color: #fff;
  padding: 100px 0;
}
.action {
  width: 50%;
}
.text {
  display: inline-block;
  line-height: 1.5em;
}
.keyfeature {
  background: url("images/2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.keys {
  float: left;
  width: 40%;
  color: #fff;
  margin-top: 120px;
}
.keys h2 {
  text-transform: uppercase;
}
.keys p {
  font-weight: 300;
  line-height: 1.5;
  margin-top: 30px;
}
.keyslink {
  color: #fff;
  text-transform: uppercase;
  background-color: #11749e;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  display: inherit;
  margin-top: 25px;
}
.keyslink:hover {
  opacity: 0.5;
}
.keysimage {
  float: right;
  width: 40%;
}
.keyslinks {
  margin-top: 50px;
}
.keyslinks a:nth-child(1) {
  width: 380px;
}
.keyslinks a:nth-child(2) {
  width: 410px;
}
.keyslinks a:nth-child(3) {
  width: 440px;
}
.teammembers {
  margin-bottom: 50px;
}
.team {
  background-color: #fff;
}
.member {
  float: left;
  width: 25%;
  padding: 15px;
}
.memberdesc {
  position: relative;
  top: -50px;
  padding: 20px 0;
  background-color: #f2f2f2;
  width: 200px;
  margin: 0 auto;
}
.memberdesc h3 {
  text-transform: uppercase;
  color: #11749e;
  margin-bottom: 5px;
}
.memberdesc p {
  color: #222;
  font-weight: 700;
}
.teamimg {
  overflow: hidden;
  height: 400px;
}
.teammembers img {
  position: relative;
  left: -40px;
}
.contactarea {
  background: url("images/3.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 100px;
}
input[type="text"] {
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  width: 30%;
  margin: 0 10px;
}
textarea {
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  width: 100%;
  margin: 40px 10px;
}
.contactform {
  padding: 30px 0;
}
input[type="submit"] {
  color: #fff;
  border: none;
  background-color: #11749e;
  padding: 10px 30px;
  font-size: 2em;
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.4;
}
.footer {
  padding: 50px;
  font-size: 14px;
  background-color: #222;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  opacity: 0.5;
}
.bee {
  background: url("images/bee.png") no-repeat;
  height: 26px;
  width: 28px;
  display: inline-block;
}
.map {
  height: 325px;
  width: 100%;
  overflow: hidden;
}
.map iframe {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .hero h1 {
    font-size: 8em;
  }
  .hero p {
    letter-spacing: 0.3em;
  }
}
